body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
  }

  body {
    /* Defina uma imagem de fundo */
    
    background-size: cover;
    background-color: #444343;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    background-color: rgba(3, 3, 3, 0.9); /* Adiciona um fundo branco transparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .login-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 15px;
  }

  .login-form {
    padding: 20px;
    box-sizing: border-box;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }

  .form-group button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .form-group button:hover {
    background-color: #0056b3;
  }

  .error-message {
    color: red;
    margin-top: 10px;
  }