body {
    background-color: black;

}


h1{
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;

}



p{

    color: aliceblue;
    text-align: center;
    
}



h2{
    color: aliceblue;
    text-transform: uppercase;
    

}




